<div class="landing-page">
  <div class="landing-container">
    <div class="left-content">
      <img src="assets/images/sport_logo.jpg" alt="Sport">

      <footer>© All rights Reserved</footer>
    </div>
    <div class="right-content">
      <img src="assets/images/logo.jpg" alt="Logo">
      <div class="sport-name">
        <h1><span>Sport </span>Club</h1> <h5>Manage your Game</h5>
      </div>
      <button [routerLink]="['/page/athlete']" routerLinkActive="router-link-active">Manage Sport
      </button>
    </div>
  </div>
</div>
