<div class="data-wrapper-outer">
  <div class="img-wrapper">
    <div class="shadow"></div>
    <img
      [src]="viewImage"
      alt="" athlete-image>
  </div>
  <hr>
  <div class="details-wrapper" style="margin-bottom: 0">
    <div class="athlete-details">
      <div class="col-4">
        <h3 class="fw-bold">Name</h3>
      </div>
      <div class="col-8">
        <h4>{{athleteDetail.firstName}} {{athleteDetail.lastName}}</h4>
      </div>
    </div>
    <div class="athlete-details">
      <div class="col-4">
        <h3 class="fw-bold">Age</h3>
      </div>
      <div class="col-8">
        <h4>{{athleteDetail.birthyear}} Y</h4>
      </div>
    </div>
    <div class="athlete-details">
      <div class="col-4">
        <h3 class="fw-bold">Country</h3>
      </div>
      <div class="col-8">
        <h4>{{athleteDetail.country}}</h4>
      </div>
    </div>
  </div>
  <hr>
  <div class="details-wrapper">
    <table class="table table-hover table-bordered">
      <thead style="text-align: center">
      <tr>
        <th>Event</th>
        <th>Result</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of athleteDetail.eventList">
        <td>{{event.eventId}}</td>
        <td>{{event.result}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
