/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #1B1464;
  --orange-color: #e67e22;
  --gren-color: #009432;
  --lite-blue-color: #0652DD;
  --dark-purpul-color: #6F1E51;
  --lite-purpul-color: #D980FA;
  --font-color: #FFFF;
  --font-gray-color: rgba(0, 7, 14, 0.46);
  --font-dark-color: rgba(0, 7, 14, 0.84);
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
